{% extends 'adminpanel/base.html' %}


{% block content %}

{% load static %}

<div id="content">
   
   <div class="midde_cont">
      <div class="container-fluid">
         <div class="row column_title">
            <div class="col-md-12">
               <div class="page_title">
                  <h2>Change Password</h2>
               </div>
            </div>
         </div>
         </div>

            <!-- <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                        <img width="210" src="{% static 'adminpanel/images/logo/logo.png' %}" alt="#" />
                     </div>
                  </div> -->
                  
                        <!-- <fieldset>
                        
                           <!-- <div class="field">
                              <label class="label_field">User Name</label>
                              <input type="text" name="user_name" placeholder="User Name" />
                           </div> -->
                           <!-- <div class="field">
                              <label class="label_field">Old Password</label>
                              <input type="password" name="Old Password" placeholder="Old Password" />
                           </div>
                           <div class="field">
                              <label class="label_field">New Password</label>
                              <input type="password" name="New Password" placeholder="New Password" />
                           </div>
                           <div class="field">
                              <label class="label_field">Confirm Password</label>
                              <input type="password" name="Confirm Password" placeholder="Confirm Password" />
                           </div>
                           <div class="field">
                              <label class="label_field hidden">hidden label</label>
                              <label class="form-check-label"><input type="checkbox" class="form-check-input"> Remember Me</label>
                              <a class="forgot" href="">Forgotten Password?</a>
                           </div>
                           <div class="field margin_0">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt" type="submit">Change Password</button>
                           </div>
                        </fieldset> -->
                        <div>
                           <form action="{% url 'change_pass' %}" method="POST">
                              {% csrf_token %}

                              <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Old password</label>
                                <input type="password" class="form-control" name="old_pass" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Old Password">
                                
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">New Password</label>
                                <input type="password" class="form-control" name="new_pass" id="exampleInputPassword1" placeholder="New Password">
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm_pass" id="exampleInputPassword1" placeholder="Confirm Password">
                              </div>
                              
                              <button type="submit" class="btn btn-primary">Change Password</button>
                           
                      
                     </form>
                  </div>
             
    
      
{% endblock %}
